a {
  color: #070808;
  text-decoration: none;
  padding-left: 200px;
  font-weight: bold;
}
a:hover {
  color: #080808;
}

.content {
  padding-top: 64px;
}

.ah-btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: capitalize;
  border: solid #24292e;
  border-width: thin;
}

.ah-btn-nav {
  font-size: 14px;
  margin-left: 5px;
  font-weight: bold;
}
img {
  object-fit: cover;
}
.card {
  width: 90%;
  margin-bottom: 20px;
}
.head{
    background-color: gainsboro;
}
.nav-bg {
    background-color: rgba(0, 0, 0, 0.295);
}
.navbar-brand {
  font-weight: bold;
  font-family: cursive;
}
.footer-bg {
    background-color: #24292e;
    color: white;
    text-align: center;
    padding: 10px 20px 40px 20px;
  }
header.uvp {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: black;
    background-color: #24292e;
}

.uvp-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: left;
}

.ah-btn:hover, .ah-btn:focus, .ah-btn:active, .ah-btn.active {
  color: white;
  border-color: #24292e;
  background-color: #24292e;
}
.lp-text{
  font-size: 2.5rem;
  font-family: 'Open Sans', sans-serif;
}
.join-us-text {
  font-size: 20px;
  color: #121518;
}
.join-us-text :hover {
  background-color: black;
}
.display-articles {
  margin-top: 50px;
  margin-bottom: 20%;
  color: black;
}
.first-section{
  background-image: url('../assets/bg-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 150%;
  width: auto;
  padding-bottom: 100px;
  margin-top: -64px !important;
  padding-top: 64px;
}

.lp-intro {
  margin-top: 36px;
}
.registerForm {
  margin: 120px auto;
  width: 450px;
  padding: 40px;
  background: #f5f5f5;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  border-radius: 10px;
}
