.head{
    background-color: gainsboro
}
.nav-bg {
    background-color: #000080;
}
.nav-text {
    color: white;
}
.footer-bg {
    background-color: #000080;
    color: white;
    text-align: center;
    padding: 10px 20px 40px 20px;
  }
header.uvp {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: black;
}

.uvp-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: left;
}

.btn-outline:hover, .btn-outline:focus, .btn-outline:active, .btn-outline.active {
  color: white;
  border-color: #1919da;
  background-color: #1919da;
}

.btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
}

.btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}
.LP-list {
  margin-top: 100px;
  font-size: 32px;
  text-decoration: none;
}
.LP-list :hover {
  text-decoration: none;
}
.LP-content {
  background-color: #000080;
  color: #BDBEFF;
  /* margin: 50px 50px 50px 50px;
  padding: 20px; */
  box-shadow: darkblue;
  border-radius: 25px;
}
.LP-container {
  margin-top: 100px;
  width: 75%;
  height: 75%;
}
.join-us-text {
  font-size: 20px;
}
.join-us-text :hover {
  background-color: black;
}
.display-articles {
  margin-bottom: 20%;
}
