a {
  color: #070808;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #080808;
}

.content {
  padding-top: 64px;
}

.ah-btn {
  font-family: "Lato", "Helvetica", "Arial", "sans-serif";
  letter-spacing: 2px;
  text-transform: capitalize;
  border: solid #24292e;
  border-width: thin;
}

.ah-btn-nav {
  font-size: 14px;
  margin-left: 5px;
  font-weight: bold;
}
img {
  object-fit: cover;
}
.card {
  width: 90%;
  margin-bottom: 20px;
}
.head {
  background-color: gainsboro;
}
.nav-bg {
  background-color: rgba(0, 0, 0, 0.295);
}
.navbar-brand {
  font-weight: bold;
  font-family: cursive;
}
.footer-bg {
  position: fixed;
  background-color: #24292e;
  color: white;
  text-align: center;
  padding: 5px 20px 5px 20px;
  width: 100%;
  bottom: 0;
}
header.uvp {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: black;
  background-color: #24292e;
}

.uvp-content {
  max-width: 500px;
  margin-bottom: 100px;
  text-align: left;
}

.ah-btn:hover,
.ah-btn:focus,
.ah-btn:active,
.ah-btn.active {
  color: white;
  border-color: #24292e;
  background-color: #24292e;
}
.lp-text {
  font-size: 2.5rem;
  font-family: "Open Sans", sans-serif;
}
.join-us-text {
  font-size: 20px;
  color: #121518;
}
.join-us-text :hover {
  background-color: black;
}
.display-articles {
  margin-top: 50px;
  margin-bottom: 20%;
  color: black;
}
.first-section {
  background-image: url("../assets/images/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 150%;
  width: auto;
  padding-bottom: 100px;
  margin-top: -64px !important;
  padding-top: 64px;
}
.lp-intro {
  margin-top: 36px;
  background-color: rgba(255, 255, 255, 1);
}
.lp-intro {
  margin-top: 36px;
}
.registerForm {
  margin: 120px auto;
  width: 400px;
  padding: 40px;
  background: #f5f5f5;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
  border-radius: 10px;
}
.forgot-password{
  color: firebrick;
}
.icon-with-margin {
  margin-right: 10px;
}
.google{
  background-color: #d34836;
  display: inline-block;
  background: rgb(209, 72, 54);
  color: rgb(255, 255, 255);
  width: 150px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto;
  transition: background-color .3s,border-color .3s;
}
.facebook{
  font-family: Roboto;
  font-weight: bold;
  display: inline-block;
  border-radius: 5px;
  color: #fff;
  width: 145px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 20px;
  text-decoration: none;
  transition: background-color .3s,border-color .3s;
  background-color: #4c69ba;
  display: inline-block;
  border:solid 1px #4c69ba;
}
.article{
  margin: 0 100px;
}
.forgot-password{
  color: firebrick;
}
.article-img{
  width: 75%;
}
.article-list{
  margin-top: 20px;
  background-color: #e2e2e236;
}
.author-thumbnail {
  border-radius: 50%;
}
.article-description{
  font-family: "Open Sans", sans-serif;
}
.article-essentials{
  border-bottom: solid 0.5px #e3e9ef;
  padding-left: 0px;
}
.article-time{
  color: #8c96a0;
  font-size: 12px;
  padding: none;
}
.entire-article{
  margin-top:40px;
}
.author-name{
  font-size:18px;
}
.icon{
  float: right;
  padding-right: 6px;
}
.card{
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}
.card-block{
  line-height: 1.7;
}
.card-title{
  font-family: "Merriweather", sans-serif;
  color: #2C3E50;
  padding-top: 15px;
}
.card-footer{
  border-top:none;
}
.dashboard-section{
  background-image: url('./images/dashboard.jpg');
  margin-top: -83px !important;
  background-attachment: fixed;
  background-size: cover;
  height: 360px;
  position: fixed;
  padding-top: 45px;
  z-index: 1;
  width:100%;
}
.inner-dash{
  background-color: #000000c9;
  margin-top: 1.1rem;
  height: 300px;
  width: 100%;
  color: #d0cfcf;
  position: fixed;
  z-index: 1;
}
.dash-intro{
  border-radius: .3rem;
  padding-top: 90px;
}
.dash{
  z-index: 2;
  position: relative;
  top: 300px;
  background-color: white;
}
.dash-btn{
  padding: 5px 90px;
  font-family: 'KoHo';
  font-size: 20px;
}
.reading{
  font-family: 'Cookie';
  padding: 0 0 0 0;
  font-weight: bold;
  font-size: 45px;
}.writing{
  font-family: 'Indie Flower';
  padding: 0 0 0 0;
  font-weight: bold;
  font-size: 45px;
}
.intro-text{
  font-family: 'KoHo';
  font-size: 40px;
  letter-spacing: -4px;
  word-spacing: 5px;
  padding: 0 0 0 20px;
}
.ah-nav-profile {
  border-radius: 50%;
  border-color: #606060;
}
.profile-contents {
  margin-left: 5%;
  margin-bottom: 5%;
}
.profile-image {
  margin-bottom: 5%;
  border-radius: 50%;
  height: 200px;
  border: solid;
  border-color: rgb(132, 153, 175);
}
.inline-block {
  display:inline-block;margin-right:10px;
}
.top-buffer {
  margin-top:28px;
}
.profile-header {
  border-bottom: solid;
  border-width: thin;
  border-color: rgb(130, 168, 208);
  margin-bottom: 10px;
}
.big-font {
  font-size: 20px;
}
.bottom-filler {
  margin-bottom: 175px;
}
.followers {
  border-right: solid;
  border-width: thin;
  border-color: rgb(130, 168, 208);
}
.bio {
  background: rgb(132, 153, 175);
  border-radius: 5px 5px 0px 0px;
  padding: 10px 20px;
}
.bio-body {
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-width: medium;
  border-radius: 0px 0px 5px 5px;
  border-color: rgb(132, 153, 175);
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 20px 40px;
  word-spacing: 4px;
  line-height: 32px;
  font-family: 'open sans';
  font-size: 17px;
}
.ah-container {
  background: #fbfbfb;
}
.followers-following {
  color: #656565;
}
.profile-username {
  font-weight: bold;
  font-size: 30px;
}

.btn-long{
  width: 100%;
}
.quill-height{
  height: 350px;
}
.clear-box{
  border: none;
  width: 100%;
}
.clear-box:focus{
  outline: none;
  border-bottom: 2px solid #ece9e9;
}
.very-big-font{
  font-size: 40px;
}
.bigger-font{
  font-size: 20px;
}
.m-r-10{
  margin-right: 10px;
}
::placeholder {
  opacity: 0.3;
}
.my-img p img{
 height: 40%;
 width: 40%;
}
.m-t-10{
  margin-top: 100px;
}
